@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@font-face {
  font-family: Lovelo;
  src: url("/home/ninge/.fonts");
}

::selection {
  color: #f8fafc;
  background-color: #619cc7;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
  color: #619cc7;
}

body {
  font-family: "Lovelo", Lovelo, sans-serif;
  background-color: #f8fafc;
}

p {
  font-family: "Poppins", Poppins, sans-serif;
}

nav {
  width: 100%;
  margin: auto;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  position: fixed;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5rem;
  font-size: 1.25rem;
}

.nav-logo {
  max-width: 75px;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: #919191;
}

.link a:hover {
  color: #0d1433;
  transition: all 0.3s ease;
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #619cc7;
  transition: all 0.3s ease;
}

.link a:hover::after {
  width: 100%;
}

.container {
  margin: auto;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #619cc7;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  color: #ccc;
  transition: all 0.3s ease;
}

header {
  background: linear-gradient(to bottom, #0d1433c9, #0d1433c9),
    url(../images/runout.jpg) 0 0 no-repeat fixed;
  background-size: 100%;
  background-position: center;
  overflow: hidden;
  transition: all 0.5s ease;
}

header .content {
  padding: 20rem;
  align-items: center;
  text-align: center;
}

header .content .logo {
  max-width: 400px;
  margin: auto;
  margin-bottom: 2rem;
}

header .content .info {
  color: #fff;
}

.philanthropic-effort {
  max-width: 80%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.philanthropic-effort h3 {
  color: #619cc7;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.philanthropic-effort .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  color: #0d1433;
  padding: 1rem;
}

.philanthropic-effort .content .card p {
  font-weight: 100;
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.philanthropic-effort .card img {
  margin: auto;
}

.iron-phi {
  background-color: #0d1433;
}

.iron-phi .content {
  max-width: 80%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #f8fafc;
  padding: 1rem;
}

.iron-phi .content h3 {
  color: #f8fafc;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1.25rem;
  margin-bottom: 2rem;
}

.iron-phi .content p {
  font-weight: 100;
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.iron-phi-participants {
  max-width: 80%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.iron-phi-participants h3 {
  color: #619cc7;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.iron-phi-participants .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.iron-phi-participants .content .card {
  text-align: center;
  align-items: center;
}

.iron-phi-participants .content .card img {
  padding: 1rem;
}

.iron-phi-participants .content .card h3 {
  color: #619cc7;
  margin-bottom: 0.25rem;
}

.iron-phi-participants .content .card p {
  color: #0d1433;
}

footer {
  position: relative;
  text-align: center;
  z-index: -9999;
}

footer h2 {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  color: #619cc7;
}

footer .links {
  width: 25%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 7rem;
}

footer .links a {
  color: #0d1433;
  border: 1px solid #0d1433;
  padding: 15px;
  font-size: 3rem;
  border-radius: 100%;
  transition: all 0.3s ease;
}

footer .links a:hover {
  color: #f8fafc;
  background-color: #0d1433;
  border-color: #0d1433;
}

.copyright {
  font-family: "Poppins", Poppins, sans-serif;
  max-width: 80%;
  margin: auto;
  padding: 1rem;
  color: #0d1433;
  font-size: 0.8rem;
  text-align: center;
}

@media (width < 1000px) {
  header {
    background-size: 125%;
  }
  header .content {
    padding: 10rem;
  }
  .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 80%;
    background-color: #f8fafc;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease;
    padding: 2rem;
    z-index: 9999;
  }
  .nav-links.active {
    left: 0;
  }
  .menu-toggle {
    display: block;
  }
  .curtain-menu {
    overflow: hidden;
    z-index: 9999;
  }
  .philanthropic-effort .content {
    grid-template-columns: none;
  }
  .iron-phi-participants .content {
    grid-template-columns: none;
  }
  footer .links {
    width: 80%;
    margin: auto;
  }
}
