@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@font-face {
  font-family: Lovelo;
  src: url("/home/ninge/.fonts");
}

::selection {
  color: #f8fafc;
  background-color: #619cc7;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lovelo", Lovelo, sans-serif;
  background-color: #f8fafc;
}

p {
  font-family: "Poppins", Poppins, sans-serif;
}

nav {
  width: 100%;
  margin: auto;
  padding: 0.5rem 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  position: fixed;
  z-index: 1000;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 12rem;
  font-size: 1.25rem;
}

.nav-logo {
  max-width: 70px;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: #919191;
}

.link a:hover {
  color: #0d1433;
  transition: all 0.3s ease;
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #619cc7;
  transition: all 0.3s ease;
}

.link a:hover::after {
  width: 100%;
}

.container {
  margin: auto;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #619cc7;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  color: #ccc;
  transition: all 0.3s ease;
}

header {
  background: linear-gradient(to bottom, #0d1433c9, #0d1433c9),
    url(../images/runout.jpg) 0 0 no-repeat fixed;
  background-size: 100%;
  background-position: center;
  overflow: hidden;
  transition: all 0.5s ease;
}

header .content {
  padding: 10rem;
  align-items: center;
  text-align: center;
}

header .content .logo {
  max-width: 400px;
  margin: auto;
  margin-bottom: 2rem;
}

header .content .info {
  color: #f8fafc;
}

header .content .info h1 {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 1.5rem;
  font-size: 2.6rem;
  font-weight: 700;
}

header .content .info h2 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 100;
}

.sign-up {
  background-color: #0d1433;
  color: #fff;
  padding: 5rem;
}

.sign-up .content {
  max-width: 1200px;
  margin: auto;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem; */
  text-align: center;
  align-items: center;
}

.sign-up .content h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 900;
}

.sign-up .content p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.sign-up .btn {
  margin: auto;
}

.why-phi-delt {
  max-width: 1200px;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.why-phi-delt h3 {
  color: #619cc7;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.why-phi-delt .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  color: #0d1433;
  padding: 1rem;
}

.why-phi-delt .content p {
  font-size: 1.25rem;
}

.why-phi-delt .content .facts ul {
  font-family: "Poppins", Poppins, sans-serif;
  list-style: none;
  font-size: 1.25rem;
}

.why-phi-delt .content .facts .fact {
  margin-bottom: 1rem;
}

.cardinal-principles {
  max-width: 1200px;
  margin: auto;
}

.cardinal-principles h2 {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  color: #619cc7;
}

.cardinal-principles .content {
  margin: 2rem;
  margin-bottom: 7rem;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 2rem;
  transition: all 0.5s ease;
  color: #0d1433;
}

.cardinal-principles .content .card {
  text-align: center;
}

.cardinal-principles .content .card img {
  align-items: center;
  margin-bottom: 2rem;
}

.cardinal-principles .content .card p {
  font-size: 1rem;
  color: #0d1433;
}

footer {
  position: relative;
  text-align: center;
}

footer h2 {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  color: #619cc7;
}

footer .links {
  width: 25%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 7rem;
}

footer .links a {
  color: #0d1433;
  border: 2px solid #0d1433;
  padding: 15px;
  font-size: 3rem;
  border-radius: 100%;
  transition: all 0.5s ease;
}

footer .links a:hover {
  color: #f8fafc;
  background-color: #0d1433;
  border-color: #0d1433;
}

.copyright {
  font-family: "Poppins", Poppins, sans-serif;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  color: #0d1433;
  font-size: 0.8rem;
  text-align: center;
}

@media (width < 1000px) {
  .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 80%;
    background-color: #0d1433;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease;
    padding: 2rem;
    z-index: 999;
  }
  .nav-links.active {
    left: 0;
  }
  .menu-toggle {
    display: block;
  }
  .why-phi-delt .content {
    grid-template-columns: none;
  }
  .cardinal-principles .content {
    grid-template-columns: none;
  }
  footer .links {
    width: 80%;
    margin: auto;
  }
}
