<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.min.css"
		/>
		<link rel="icon" href="../images/logo2.png" />
		<link rel="stylesheet" href="style.css" />
		<title>Pennsylvania Delta | BECOME THE GREATEST VERSION OF YOURSELF</title>
	</head>
	<body>
		<nav>
			<div class="nav-logo">
				<a href="../index.html"><img src="../images/logo.png" /></a>
			</div>
			<ul class="nav-links">
				<li class="link"><a href="../about/about.html">ABOUT US</a></li>
				<li class="link">
					<a href="../recruitment/recruitment.html">RECRUITMENT</a>
				</li>
				<li class="link"><a href="#">PHILANTHROPY & SERVICE</a></li>
				<li class="link"><a href="#">ALUMNI</a></li>
				<li class="link"><a href="#">PARENTS</a></li>
				<li class="link"><a href="#">CHAPTER OFFICERS</a></li>
			</ul>

			<a href="https://forms.gle/h4BmW6cdMFBj7Ptz6" target="_blank"
				><button class="btn">JOIN PHI DELT</button></a
			>
		</nav>

		<header class="container">
			<div class="content">
				<div class="info">
					<h1>PAGE TITLE</h1>
					<h2>SUBTITLE</h2>
				</div>
			</div>
		</header>

		<!--ADD CODE FOR SECTION HERE-->

		<div class="spacer"></div>

		<footer>
			<div class="blurb">
				<p>
					<img src="../images/crest.png" /> Phi Delta Theta was built on three
					pillars that haven't budged an inch since the Fraternity was founded
					by “The Immortal Six” way back in 1848 at Miami University. The
					pillars are: The cultivation of friendship among its members, the
					acquirement individually of a high degree of mental culture, and the
					attainment personally of a high standard of morality. Shortened, we
					refer to these Cardinal Principles as Friendship, Sound Learning, and
					Rectitude.
				</p>
			</div>
			<div class="contact-info">
				<h2>CONTACT US!</h2>
				<ul>
					<li class="contact">
						<i class="ri-map-pin-2-fill"></i> 2 South Campus Avenue Oxford, OH
						45056-1801
					</li>
					<li class="contact"><i class="ri-phone-fill"></i> (513) 523-6345</li>
					<li class="contact">
						<i class="ri-mail-fill"></i>
						<a href="mailto:alleghenyphideltatheta@gmail.com"
							>alleghenyphideltatheta@gmail.com</a
						>
					</li>
					<li class="contact">
						<i class="ri-user-star-fill"></i>
						<a href="#">Connect with Chapter Officers</a>
					</li>
				</ul>
			</div>
			<div class="social-links">
				<h2>FOLLOW US</h2>
				<div class="links">
					<a href="#"><i class="ri-facebook-fill"></i></a>
					<a href="#"><i class="ri-instagram-line"></i></a>
					<a href="#"><i class="ri-linkedin-fill"></i></a>
				</div>
			</div>
		</footer>

		<script src="app.js"></script>
	</body>
</html>
